<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Comentarios</title>
    <link rel="stylesheet" href="../static/css/estilomock7.css">
</head>
<body>
    <form action="">
        <h1>Gestion de comentarios</h1>
        <fieldset>
            <p>Codigo de vuelo: <input type="search" id="cidigovuelo" name="cidigovuelo"></p>
            
            <br>

            <button>Buscar</button>

            <br>

            <input type="text" name="inputname" value="" readonly>

            <h3>Agregar comentarios:</h3>
            <center>
                
                <p>
                    <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
                </p>
            </center>


            <fieldset>
                <legend><h3>Calificacion vuelo:</h3></legend>
                <div class="radio">

                    <center>
                        <input type="radio" name="calif" id="uno">
                        <label for="uno">1</label>
    
                        <input type="radio" name="calif" id="dos">
                        <label for="dos">2</label>
    
                        <input type="radio" name="calif" id="tres">
                        <label for="tres">3</label>
    
                        <input type="radio" name="calif" id="cuatro">
                        <label for="cuatro">4</label>

                        <input type="radio" name="calif" id="cinco">
                        <label for="cinco">5</label>
                    </center>
                </div>
            </fieldset>
            
            <br>
            <button>Enviar</button>
            
        </fieldset>
    </form>
</body>
</html>