<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificacion vuelo</title>
    <link rel="stylesheet" href="../static/css/estilomock5.css">
</head>
<body>
    <form action="">

        <h1>Detalle del viaje</h1>

        <fieldset>
            <center>
                <h3>Sabado 02 Octubre de 2021</h3>

                <h2>Vuelo PGA246</h2>
            </center>
            

            <div id="menu">
                <ul>

                    <li><p>12:50pm <br> Bogota </p></li>
                    <li><p>Directo <br> 1hora y 30minutos </p></li>
                    <li><p>2:20pm <br> Barranquilla</p></li>
                </ul>
            </div>

            <center><a href="mockup7.html">Calificar vuelo</a></center>
            

        </fieldset>
        
    </form>
    
</body>
</html>